In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

import pathlib
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
# 데이터 가져오기

#헤더가 지정되어있지 않기 때문에 header=none으로 설정
data=pd.read_csv('D:/Son/3-2/deeplearning/report/dataset/iris/iris.data',encoding='cp949', header=None)

In [3]:
#데이터 확인

data.shape
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#헤더 이름 지정

data.columns=['sepal length(cm)','sepal width(cm)','petal length(cm)','petal width(cm)','class']

In [5]:
data

,sepal length(cm),sepal width(cm),petal length(cm),petal width(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
#결측치 확인

data.isna().sum()

sepal length(cm)    0
sepal width(cm)     0
petal length(cm)    0
petal width(cm)     0
class               0
dtype: int64

In [7]:
#데이터 타입 확인

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sepal length(cm)  150 non-null    float64
 1   sepal width(cm)   150 non-null    float64
 2   petal length(cm)  150 non-null    float64
 3   petal width(cm)   150 non-null    float64
 4   class             150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
#class는 필요없기 때문에 삭제

data=data.drop('class',axis=1)
data

     sepal length(cm)  sepal width(cm)  petal length(cm)  petal width(cm)
0                 5.1              3.5               1.4              0.2
1                 4.9              3.0               1.4              0.2
2                 4.7              3.2               1.3              0.2
3                 4.6              3.1               1.5              0.2
4                 5.0              3.6               1.4              0.2
..                ...              ...               ...              ...
145               6.7              3.0               5.2              2.3
146               6.3              2.5               5.0              1.9
147               6.5              3.0               5.2              2.0
148               6.2              3.4               5.4              2.3
149               5.9              3.0               5.1              1.8

[150 rows x 4 columns]

In [9]:
#라벨은 petal width

x=data.drop('petal width(cm)',axis=1)
x

     sepal length(cm)  sepal width(cm)  petal length(cm)
0                 5.1              3.5               1.4
1                 4.9              3.0               1.4
2                 4.7              3.2               1.3
3                 4.6              3.1               1.5
4                 5.0              3.6               1.4
..                ...              ...               ...
145               6.7              3.0               5.2
146               6.3              2.5               5.0
147               6.5              3.0               5.2
148               6.2              3.4               5.4
149               5.9              3.0               5.1

[150 rows x 3 columns]

In [10]:
y=data['petal width(cm)']
y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width(cm), Length: 150, dtype: float64

In [11]:
# 테스트와 훈련 데이터로 나누기

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((120, 3), (30, 3), (120,), (30,))

In [12]:
#DT

from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print(clf_dt.score(x_train, y_train))

0.999584199103949

In [13]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.31622776601683794

In [14]:
#RF

from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(x_train, y_train)

pred_rf = rf_clf.predict(x_test)

print(rf_clf.score(x_train, y_train))

0.9929976485910114

In [15]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.2396892505006342

In [16]:
#LR

from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print(clf_lr.score(x_train, y_train))

0.9402315527525301

In [17]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.18848521494159062

In [18]:
#SVR

from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print(clf_svm.score(x_train, y_train))

0.9520924660485428

In [19]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.1788548576979269